/* -------- En Desuso ------ */

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}*/
body {
    background: rgb(238, 238, 238);
}

/* 
main {
    position: relative;
    overflow: auto;    
}

footer > *  {
    background: rgba(34, 22, 196, 0);
} */

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 100vw;
    height: 65vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
}

.header-container {
    height: 20%; 
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 0 0 auto;
    
}

.sub-container-01 { 
    background: rgb(226, 226, 226);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 40%; 
    width: 50%; 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0 0.5rem;
    flex: 0 0 auto;
}

.sub-container-02 {
    height: 95%;
    width: 55%;
    display: flex;
    flex-flow: column nowrap;    
    justify-content: space-evenly;
    align-items: flex-start;
    overflow: hidden;
}

.img-container {
    height: 95%;
    width: 40%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-heading {
    height: 50%;
    max-width: 50%;
    overflow: hidden;
}

.sub-heading-01 {
    height: 30%;
    max-width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-heading-02 {
    height: 30%;
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.description {
    height: 30%;
    max-width: 95%;
    overflow: hidden; 
}

.further-reading {
    overflow: hidden;    
}

.sold-amount {
    align-self: flex-end;
    max-height: 20%;
    overflow: hidden;
}

.img-product {
    height: inherit;
}

.img-anchor {
    height: inherit;
}

.text-anchor { 
    color: rgb(20, 20, 20);
    overflow: hidden;
    max-width: 100%;
    height: inherit;
}

.main-anchor:hover {
    color:rgb(61, 61, 61);
}

.no-underline {
    text-decoration: none;
}

.margin-05 {
    margin: 0.5rem 0;
}

