body {
  background-color: rgb(248, 249, 250);
}

*::selection {
  background: var(--bs-orange);
  color: var(--bs-light);
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: "Raleway", serif !important;
  /* --- Fuentes propias --- */
  /*  font-family: "Segoe UI", "-apple-system", "Comfortaa", "Roboto", "system-ui", "Helvetica Neue", "Arial", "Noto Sans", "Liberation Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important; */
  /* --- fin Fuentes propias --- */
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/e-mercado_cover_edit.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color 0.15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* ---- Mis estilos ----- */
.unchecked {
  color: lightgray;
}

*:focus {
  box-shadow: none !important;
}

/* #chckbox:checked */ .inpt-checked-indigo:checked {
  background-color: var(--bs-indigo) !important;
  border-color: var(--bs-indigo) !important;
  box-shadow: none !important ;
}

a:hover {
  color: var(--bs-yellow) !important;
}

.bg-indigo {
  background-color: var(--bs-indigo) !important;
}

.text-orange {
  color: var(--bs-orange) !important;
}

.text-indigo {
  color: var(--bs-indigo) !important;
}

.bg-orange {
  background: var(--bs-orange) !important;
}

.border-start-orange {
  border-color: var(--bs-orange) !important;
}

.border-start-indigo {
  border-color: var(--bs-indigo) !important;
}

.border-start-light-indigo {
  border-color: rgba(224, 215, 239, 0.48) !important;
}

.btn-outline-orange {
  border-color: var(--bs-orange) !important;
  color: var(--bs-orange) !important;
}

.btn-outline-orange-hover:hover {
  background: var(--bs-orange) !important;
  color: var(--bs-light) !important;
}

.btn-indigo-hover:hover {
  color: var(--bs-orange) !important;
}

.btn-outline-indigo-hover:hover {
  font-weight: bold;
  color: var(--bs-indigo)
} /* --- APLICAR A BTN <--- ??? --- */

.box-shadow-focus-none:focus {
  box-shadow: none !important;
}

.rounded-start-pill {
  border-radius: 50rem 0 0 50rem !important;
}

.rounded-end-pill {
  border-radius: 0 50rem 50rem 0 !important;
}

/* --- custom-card-02 --- */
.rounded-borders {
  border-radius: 0.5rem !important;
  /* background-clip: border-box; */
  /* clip: auto; */
  /* overflow-clip-margin: border-box; */
  overflow-x: clip;
  overflow-y: clip;
}
/* --- fin custom-card-02 --- */

.rounded-borders-start {
  border-radius: 0.5rem 0 0 .5rem !important;
  overflow-x: clip;
  overflow-y: clip;
}

.rounded-borders-end {
  border-radius: 0 0.5rem 0.5rem 0 !important;
  overflow-x: clip;
  overflow-y: clip;
}

.min-height-100 {
  min-height: 100% !important;
}

/* ---- navbar(revisar) ---- */
.z-index-auto {
  /*  position: sticky !important; */
  z-index: auto !important;
  top: 4rem !important;
}

.gradient-indigo-semi-transparent {
  /* filter: opacity(0.9) !important; */
  background-image: linear-gradient(
    to bottom,
    rgba(102, 16, 242, 1),
    rgba(102, 16, 242, 0.9)
  ) !important;
  backdrop-filter: blur(0.25rem) !important;
}

.dropdown-item-active:active {
  background-color: rgba(211 186 255 / 63%) !important;
}

.dropdown-item-active:hover {
  background-color: rgba(224, 215, 239, 0.48) !important;
}

.h-5rm {
  height: 5rem !important;
}

.h-3rm {
  height: 1rem !important;
}

.w-max-content {
  width: max-content !important;
}

#text-field-container > * {
  padding-left: 3rem !important;
}

#editing-view-port {
  padding-left: 3rem !important;
}

.light-toggler {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='whitesmoke' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
 }

/* ---- Fin navbar(revisar) ---- */

/* --- z-index-top --- */
.z-index-top {
  z-index: 1111 !important;
  top: 10vh;
 /*  bottom: 1vh; */
}
/* --- fin z-index-top --- */

.radio-disabled:disabled {
  background: none !important;
  border-color: rgba(118, 118, 118, 0.3) !important;
 /*  background-image: none !important; */
}

/* prueba buscador eliminar */
.found {
  background-color: yellow;
}
/* fin prueba buscador eliminar */

/* selector contenedores categorias eliminar  */
 #cat-list-container > [id*="10"] {
  background-color: lightgray;
 }

 /* #main-container > div val(x > 1): {} ??? */
 /* li {
  color: orangered;
 } */
/* selector contenedores categorias eliminar  */
/* ---- Fin Mis estilos ----- */

